*{
    margin:0px;
    padding: 0px;
}

.setHeight{
    min-height: 92vh;
}
.margin-top-bottom{
    padding: 5vh 0vh 5vh 0vh;
}
.search-font-size label{
    font-size: 11px;
    margin-left: 12px;
}

.search-font-size input{
    font-size: 12px !important;
}
table tbody tr:hover {
    background-color: #d4d4d4;
    color: #ffffff;
    cursor: pointer;
}
.img-author{
   width: 50%;
}
